

.navbar-twitch {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    z-index: 1030;
}

    .navbar-twitch.open {
        width: 240px;
    }

    .navbar-twitch > .container {
        padding: 0px;
        width: 100%;
    }

    .navbar-twitch .navbar-header,
    .navbar-twitch .navbar-brand {
        float: none;
        display: block;
        width: 100%;
        margin: 0px;
    }

    .navbar-twitch .navbar-brand {
        height: 50px;
    }

    .navbar-twitch > .container .navbar-brand {
        padding: 0px;
        margin: 0px;
    }

        .navbar-twitch > .container .navbar-brand > .small-nav {
            display: block;
        }

            .navbar-twitch > .container .navbar-brand > .small-nav > span.logo,
            .navbar-twitch.open > .container .navbar-brand > .full-nav {
                display: block;
                font-weight: bold;
                padding: 15px 2px 15px 3px;
                font-size: 18pt;
            }

    .navbar-twitch.open > .container .navbar-brand {
        width: 100%;
        padding: 15px 15px 60px;
        text-align: center;
    }

    .navbar-twitch.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
        /*color: rgb(255, 255, 255);*/
    }

    .navbar-twitch .navbar-nav > li {
        float: none;
    }

    .navbar-twitch > .container .full-nav {
        display: none;
    }

    .navbar-twitch.open > .container .full-nav {
        display: block;
    }

    .navbar-twitch.open > .container .small-nav {
        display: none;
    }

    .navbar-twitch .navbar-collapse {
        padding: 0px;
    }

    .navbar-twitch .navbar-nav {
        float: none;
        margin: 0px;
    }

        .navbar-twitch .navbar-nav > li > a {
            padding: 0px;
        }

            .navbar-twitch .navbar-nav > li > a > span {
                display: block;
                font-size: 16pt;
                padding: 13px 15px 13px 12px;
            }

    .navbar-twitch .tooltip,
    .navbar-twitch .tooltip .tooltip-inner {
        max-width: auto;
        white-space: nowrap;
    }

.navbar-twitch-toggle {
    position: fixed;
    top: 5px;
    left: 55px;
}

.navbar-twitch ~ .navbar-twitch-toggle > .nav-open {
    display: inline-block;
}

.navbar-twitch ~ .navbar-twitch-toggle > .nav-close {
    display: none;
}

.navbar-twitch.open ~ .navbar-twitch-toggle {
    left: 245px;
}

    .navbar-twitch.open ~ .navbar-twitch-toggle > .nav-open {
        display: none;
    }

    .navbar-twitch.open ~ .navbar-twitch-toggle > .nav-close {
        display: inline-block;
    }


/*REAWORKED NAVBAR --------------->>*/

.custom-navbar {
    box-shadow: 10px 10px 10px #eee;
    z-index:10;
    background-color: #fff;
}

.nav-link {
    color: #f7204e !important;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(247,32,78);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon {
    width: 18px !important;
}

.custom-toggler:hover {
    border-color: rgb(255,255,255);
    background-color: #f76a88;
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#logo_custom {
    margin-top: -6px;
}

@media only screen and (max-width: 760px) {
    #logo_custom {
        width: 40%;
    }
}


.navElement{
    display:block;
}