
<div class="col-md-12 mx-auto text-center">
    <div class="container-fluid">
        <div class="row">
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-12" style="border-bottom:2px dotted #8d8d8d; margin-bottom:50px;">
                <div class="dottedFrameClass">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:300px; height:300px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_01.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Ektoras.png" />
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-3">
                <div class="dottedFrameClass">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_02.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Ioannis.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-3">
                <div class="dottedFrameClass">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_05.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Ralou.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-3">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_06.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Nikos.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-3">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_07.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Mario.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-4">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_03.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Mairy.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-4">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_04.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Kostis.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-4">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_02.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Vlassis.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-3">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_09.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Giorgos3.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-3">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_05.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Grigoris.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-3">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_07.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Artemis.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-3">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_08.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Stauros.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-4">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="https://missictteacher.files.wordpress.com/2013/05/edgar-f-codd.png?w=595">
                            <!-- Section - Avatar ------------------------------------------>
                            <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                                <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_06.png" />
                                <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Mpampis.png" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-4">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_02.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Stelios.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-4">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_05.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Giorgos2.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-4">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_02.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Alex.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-4">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_05.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/Josef.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section - STUDENTS ---------------------------------------->
            <div class="col-4">
                <div class="dottedFrameClass ">
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Section - Avatar ------------------------------------------>
                        <div style="width:200px; height:200px;" class="wrap-studentAvatar Mama_Avatar ClassAva">
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/back_08.png" />
                            <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/Class/YioCho.png" />
                        </div>
                    </div>
                </div>
            </div>







        </div>
    </div>
</div>


