@model IEnumerable<Web_DomainClasses.Entities.Avatar.Avatar>

@{
    ViewBag.Title = "Index";
}

    <header id="intro">
        <div class="container">
            <br />
            <br />
            <br />

            <br />
            <br />
            <div class="table">
                <div class="header-text">
                    <div class="row">

                        <div class="col-md-12 text-center">
                            <h1 style="color:#5c5c5c" class="light white">Success!</h1>
                            <h2 style="color:#5c5c5c" class="white typed">You changed your Avatar successfully.</h2>
                            <span style="font-size:28px" class="typed-cursor">(╯°□°)╯</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script>
    </script>


}


