<!-- FOOTER AREA ----------------------------------------------------- -->

<footer id="Chat" class="section-gap">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-2">
                <img style="width:80%;" src="~/images/bannerakia/Chat.png" />
            </div>

            <div class="col-lg-5 col-md-5 col-sm-4">
                <h6 class="text-uppercase mb-20" style="margin-left:20px">Shout Out Now!</h6>
                <form>
                    <div class="form-group">
                        <div class="container">
                            <!-- Set Name for Chat ----------------------------------------------------- -->
                            <div class="wrap-input100">
                                <input class="inputchat" type="text" id="username" placeholder="Set Name For Chat">
                            </div>
                            <!-- Chat Text Box Here ---------------------------------------------------- -->
                            <div class="wrap-input100 rs1">
                                <input class="input100" type="text" id="message">
                                <span class="focus-input100-1"></span>
                                <span class="focus-input100-2"></span>
                            </div>
                            <!-- Submit Mssg Button ---------------------------------------------------- -->
                            <div class="container-login100-form-btn m-t-20">
                                <button class="login100-form-btn" type="button" id="sendmessage" value="Send">Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <h6 class="text-uppercase mb-20" style="margin-left:20px">The School Gallery Chat</h6>
                <div class="single-footer-widget dottedFrame">
                    <ul id="discussion"></ul>




                </div>
            </div>

        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
        </div>
    </div>
</footer>
