@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@

<div class="preloader"></div>
<header id="intro">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 style="color:#222" class="light white">Error.</h1>
                        <h2 class="white typed">An error occurred while processing your request.</h2>
                        <span style="font-size:28px" class="typed-cursor">(╯°□°)╯︵ ┻━┻</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>