@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

@*<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>*@

<div class="preloader"></div>
<header id="intro">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 style="color:#222" class="light white">Locked out.</h3>
                        <h1 class="white typed">This account has been locked out, please try again later.</h1>
                        <span class="typed-cursor"><></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>