@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    <div class="preloader"></div>
    <header id="intro">
        <div class="container">
            <div class="table">
                <br />
                <br />
                <br />
                <h3>Or this the one?</h3>
                <br />
                <br />
                <div class="header-text">
                    <div class="row">

                        <div class="col-md-12 text-center">
                            <h1 style="color:#222" class="light white">Error.</h1>
                            <hr />
                            <h2 class="white typed">An error occurred while processing your request.</h2>
                            <span style="font-size:28px" class="typed-cursor">(╯°□°)╯︵ ┻━┻</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
