@model Web_DomainClasses.ViewModels.ChartDataVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>


    @Model.TotalOrders
    @Model.TotalMoneyCollected
</table>
a