
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">

        
            <div class="col-4 mx-auto">

                <div style="background-color:#506e75;" class="threePanels" id="p_container">

                    <img style="bottom:0px; left:-20px;" class="stackImages p_child" src="~/images/threePanels/panel_A_door.png">
                    <img style="bottom:0px; left:-20px;" class="stackImages P_child" src="~/images/threePanels/panel_A_kid.png">
                    <div id="secondAppear">
                        <div class="d-flex justify-content-center align-items-center" id="threetext">Gallery</div>
                        <img style="width:100%; height:100%; border:8px solid #f3efe9;" class="stackImages P_child" src="~/images/threePanels/unity_painting.jpg">
                    </div>
                </div>
            </div>
      

        
            <div class="col-4 mx-auto">
                <a href="@Url.Action("Index", "Painting")">

                    <div style="background-color:#8f6464;" class="threePanels" id="p_container">

                        <img style="bottom:300px; left:-20px;" class="stackImages p_child" src="~/images/threePanels/panel_B_paintings.png">
                        <img style="bottom:0px; left:-20px;" class="stackImages P_child" src="~/images/threePanels/panel_B_kid.png">
                        <div id="secondAppear">
                            <div class="d-flex justify-content-center align-items-center" id="threetext">Paintings</div>
                            <img style="width:100%; height:100%; border:8px solid #f3efe9;" class="stackImages P_child" src="~/images/threePanels/gallery_painting.jpg">
                        </div>
                    </div>
                </a>
            </div>
        

     
            <div class="col-4 mx-auto">
                <a href="@Url.Action("Index", "School")">

                        <div style="background-color:#435780;" class="threePanels" id="p_container">

                            <img style="bottom:-50px" class="stackImages p_child" src="~/images/threePanels/panel_C_schools.png">
                            <img style="bottom:0px" class="stackImages P_child" src="~/images/threePanels/panel_C_kid.png" id="firstAppear">
                            <div id="secondAppear">
                                <div  class="d-flex justify-content-center align-items-center" id="threetext">Schools</div>
                                <img style="width:100%; height:100%; border:8px solid #f3efe9;" class="stackImages P_child" src="~/images/threePanels/school_painting.jpg">
                            </div>                        
                        </div>
                    
                </a>
            </div>
      

    </div>
</div>
<br />
<br />
<br />
<br />


@section scripts{

    <script>


    </script>


}




