
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">

        <!-- Section 1 - Unity Gallery ------------------------------>
        <div class="col-md-3 col-sm-6 mx-auto">

            <a href="~/UnityGalleryWeb/index.html">
                <div style="background-color:#8ba0a5;" class="threePanels" id="p_container">

                    <img style="bottom:0px; left:-20px;" class="stackImages p_child" src="~/images/threePanels/panel_A_door.png">
                    <img style="bottom:0px; left:-20px;" class="stackImages P_child" src="~/images/threePanels/panel_A_kid.png">
                    <div id="secondAppear">
                        <div class="d-flex justify-content-center align-items-center" id="threetext">Gallery</div>
                        <img style="width:100%; height:100%;" class="stackImages P_child" src="~/images/threePanels/play_painting.jpg">
                    </div>
                </div>
            </a>
        </div>


        <!-- Section 2 - Paintings ------------------------------>
        <div class="col-md-3 col-sm-6 mx-auto">
            <a href="@Url.Action("Index", "Painting")">

                <div style="background-color:#a78c8c;" class="threePanels" id="p_container">

                    <img style="bottom:200px; left:-20px;" class="stackImages p_child" src="~/images/threePanels/panel_B_paintings.png">
                    <img style="bottom:0px; left:-20px;" class="stackImages P_child" src="~/images/threePanels/panel_B_kid.png">
                    <div id="secondAppear">
                        <div class="d-flex justify-content-center align-items-center" id="threetext">Paintings</div>
                        <img style="width:100%; height:100%;" class="stackImages P_child" src="~/images/threePanels/gallery_painting.jpg">
                    </div>
                </div>
            </a>
        </div>


        <!-- Section 3 - Entairtainment ------------------------------>
        <div class="col-md-3 col-sm-6 mx-auto">
            <a href="@Url.Action("Contact", "Home")">

                <div style="background-color:#8c95a8;" class="threePanels" id="p_container">

                    <img style="bottom:50px; transform: scaleX(-1);" class="stackImages p_child" src="~/images/threePanels/panel_B_paintings.png">
                    <img style="bottom:0px" class="stackImages P_child" src="~/images/threePanels/panel_D_kid.png" id="firstAppear">
                    <div id="secondAppear">
                        <div class="d-flex justify-content-center align-items-center" id="threetext">PlayRoom</div>
                        <img style="width:100%; height:100%;" class="stackImages P_child" src="~/images/threePanels/unity_painting.jpg">
                    </div>
                </div>

            </a>
        </div>

        <!-- Section 4 - Schools ------------------------------>
        <div class="col-md-3 col-sm-6 mx-auto">
            <a href="@Url.Action("Index", "School")">

                <div style="background-color:#bea9c1;" class="threePanels" id="p_container">

                    <img style="bottom:150px" class="stackImages p_child" src="~/images/threePanels/panel_C_schools.png">
                    <img style="bottom:0px" class="stackImages P_child" src="~/images/threePanels/panel_C_kid.png" id="firstAppear">
                    <div id="secondAppear">
                        <div class="d-flex justify-content-center align-items-center" id="threetext">Schools</div>
                        <img style="width:100%; height:100%;" class="stackImages P_child" src="~/images/threePanels/school_painting.jpg">
                    </div>
                </div>

            </a>
        </div>


    </div>
</div>
<br />
<br />
<br />
<br />


@section scripts{

    <script>


    </script>


}




