    <!-- MAIN BANNER ----------------------------------------------------- -->
<br />

<div class="oz-body-wrap2">

    <button id="paintBrushButton">HIT ME</button>

    <div id="boxOne">
        <div class="preloader"></div>
        <header id="intro">
            <div class="container">
                <div class="table">
                    <div class="header-text">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3 style="color:#222" class="light white">Children Create ...</h3>
                                <h1 class="white typed">The Blank Canvas Is the Beginning!</h1>
                                <span class="typed-cursor">|</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>


    <div id="boxTwo">
        <div class="container-fluid">
            <div class="cd-background-wrapper">
                <figure class="cd-floating-background">
                    <img src="~/images/parallax/sun.png">
                    <img src="~/images/parallax/clouds_back.png">
                    <img src="~/images/parallax/clouds_middle.png">
                    <img src="~/images/parallax/clouds_front.png">
                    <img src="~/images/parallax/parallax_sbirds.png">
                    <img src="~/images/parallax/mountains_back.png">
                    <img src="~/images/parallax/mountains_middle.png">
                    <img src="~/images/parallax/parallax_ribbons.png">
                    <img src="~/images/parallax/mountains_front.png">
                    <img src="~/images/parallax/parallax_ribbons2.png">
                    <img src="~/images/parallax/trees_front_left.png">
                    <img src="~/images/parallax/parallax_smoke.png">
                    <img src="~/images/parallax/trees_front_right.png">
                </figure>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/parallax.js"></script>
    <script src="~/js/typewriter.js"></script>
}
