    <!-- MAIN BANNER ----------------------------------------------------- -->
<br />


<div class="oz-body-wrap2">
    <div class="container-fluid">
        <div class="cd-background-wrapper">
            <figure class="cd-floating-background">
               <img id="para01" src="~/images/parallax/clouds_back.png">
               <img id="para02" src="~/images/parallax/clouds_middle.png">
               <img id="para03" src="~/images/parallax/clouds_front.png">
               <img id="para04" src="~/images/parallax/birds.png">
               <img id="para05" src="~/images/parallax/mountains_back.png">
               <img id="para06" src="~/images/parallax/mountains_middle.png">
               <img id="para07" src="~/images/parallax/mountains_front.png">
               <img id="para08" src="~/images/parallax/gallery_frame.png">
               <img id="para09" src="~/images/parallax/smoke.png">
               <img id="para10" src="~/images/parallax/gallery_paint.png">
               <img id="para11" src="~/images/parallax/gallery_boi.png">
               <img id="para12" src="~/images/parallax/front.png">
            </figure>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/parallax.js"></script>



}
