    <!-- MAIN BANNER ----------------------------------------------------- -->
    <br />

<div class="cd-background-wrapper">
    <figure class="cd-floating-background">
        <img src="~/images/parallax/sun.png">
        <img src="~/images/parallax/clouds_back.png">
        <img src="~/images/parallax/clouds_middle.png">
        <img src="~/images/parallax/clouds_front.png">
        <img src="~/images/parallax/parallax_sbirds.png">
        <img src="~/images/parallax/mountains_back.png">
        <img src="~/images/parallax/mountains_middle.png">
        <img src="~/images/parallax/parallax_ribbons.png">
        <img src="~/images/parallax/mountains_front.png">
        <img src="~/images/parallax/parallax_ribbons2.png">
        <img src="~/images/parallax/trees_front_left.png">
        <img src="~/images/parallax/parallax_smoke.png">
        <img src="~/images/parallax/trees_front_right.png">
        <img src="~/images/parallax/frame.png">
    </figure>
</div>

@section Scripts {
    <script src="~/js/parallax.js"></script>
}
