    <!-- MAIN BANNER ----------------------------------------------------- -->

<div class="cd-background-wrapper">
    <figure class="cd-floating-background">
        <img id="image_01" src="~/images/parallax/parallax_008.png" alt="image-1">
        <img id="image_02" src="~/images/parallax/parallax_007.png" alt="image-2">
        <img id="image_03" src="~/images/parallax/parallax_006.png" alt="image-3">
        <img id="image_03" src="~/images/parallax/parallax_sbirds.png" alt="image-3">
        <img id="image_04" src="~/images/parallax/parallax_005.png" alt="image-4">
        <img id="image_05" src="~/images/parallax/parallax_004.png" alt="image-5">
        <img id="image_05" src="~/images/parallax/parallax_ribbons.png" alt="image-5">
        <img id="image_06" src="~/images/parallax/parallax_003.png" alt="image-6">
        <img id="image_06" src="~/images/parallax/parallax_ribbons2.png" alt="image-6">
        <img id="image_07" src="~/images/parallax/parallax_002.png" alt="image-7">
        <img id="image_07" src="~/images/parallax/parallax_smoke.png" alt="image-7">
        <img id="image_08" src="~/images/parallax/parallax_001.png" alt="image-8">
    </figure>
</div>

@section Scripts {
    <script src="~/js/parallax.js"></script>
}
