@{
    ViewBag.Title = "Play Room";
}

<br />
<br />


<div class="container dottedFrameDark2">
    <div class="row mx-auto">
        <div class="col-12 mx-0">
            <h4 style="color:#5c5c5c;">Play Games</h4>
            <hr style="margin-top:-3px;"/>
        </div>

        @*Skopia Link -------------------------------------->>*@
        <div class="col mx-0">
            <h5 style="color:#5c5c5c;">Skopia Game</h5>
            <div class="btn_child_norm1">
                <a href="~/Skopia/index.html"><img style="width:100px;" src="~/images/UIcons/skopia_off.png" /></a>
            </div>
            <div class="btn_child_live1">
                <a href="~/Skopia/index.html"><img style="width:100px;" src="~/images/UIcons/skopia.png" /></a>
            </div>
        </div>

        @*Gallery Link -------------------------------------->>*@
        <div class="col mx-0">
            <h5 style="color:#5c5c5c;">The School gallery</h5>
            <div class="btn_child_norm1">
                <a href="~/Skopia/index.html"><img style="width:100px;" src="~/images/UIcons/paintings_off.png" /></a>
            </div>
            <div class="btn_child_live1">
                <a href="~/UnityGalleryWeb/index.html"><img style="width:100px;" src="~/images/UIcons/paintings.png" /></a>
            </div>
        </div>

    </div>
</div>


<br />
<br />
<br />
<br />


<!-- CANVAS ---------------------------------------------------------- -->
@Html.Partial("_Canvas")

