@{
    ViewBag.Title = "Home Page";
}

<!-- MAIN BANNER ----------------------------------------------------- -->
@*@Html.Partial("_MainBanner")*@

<!-- CANVAS ---------------------------------------------------------- -->
@Html.Partial("_Canvas")

<!-- ABOUT US -------------------------------------------------------- -->
@*@Html.Partial("_AboutUs")*@

<!-- SCHOOL STATS ---------------------------------------------------- -->
@*@Html.Partial("_SchoolStats")*@

<!-- PAINTING STATS -------------------------------------------------- -->
@*@Html.Partial("_PaintingStats")*@

<p>Ola kala?</p>