<!-- Section - Search/Filter/etc -------------------------------------------->
<div class="col-md-8 mx-auto">
    <div style="box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.2);" class="dottedFrame pt-20 pb-20">
        <div class="row">
            <img style="width:120px; margin-left:20px" src="~/images/filter.png" />
            <div class="col">
                <!-- Actual text input for the filter ----------->
                <div class="wrap-input100">
                    <input class="input100" type="text" id="">
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>
                <!-- Filter Button ------------------------------>
                <div class="container-login100-form-btn m-t-20 rs1">
                    <button class="login100-form-btn" type="button" id="" value="Filter">
                        Filter Paintings
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
