    <!-- SECOND BANNER ----------------------------------------------------- -->
<div class="oz-body-wrap2">
    <div class="container-fluid">
        <div class="cd-background-wrapper2">
            <figure class="cd-floating-background2">
                <img src="~/images/parallax/Painting_Parallax_L_back.png">
                <img src="~/images/parallax/Painting_Parallax_R_back.png">
                <img src="~/images/parallax/Painting_Parallax_L_front.png">
                <img src="~/images/parallax/Painting_Parallax_R_front.png">
                <img src="~/images/parallax/Painting_Parallax_frame2.png">
                <img src="~/images/parallax/Painting_Parallax_frame1.png">
                <img style="left:80px" src="~/images/parallax/Painting_Parallax_title.png">
                <img src="~/images/parallax/Painting_Parallax_Kid.png">
            </figure>
        </div>
    </div>
</div>

